.result {
    width: 1300px;
    margin: auto;
}

h1 {
    font-family: 'Fredoka One', sans-serif;
    color: rgb(226, 226, 226);
    text-align: center;
    vertical-align: middle;
    margin: 1rem auto;
}

.xwinner {
    color: rgb(255,70,37);
    font-size: 2.5rem;
}

.owinner {
    color: rgb(44, 135, 255);
    font-size: 2.5rem;
}

.reset-btn {
    font-family: 'Fredoka One', sans-serif;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(124, 49, 158);
    color: rgb(226, 226, 226);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 1.7rem auto;
    display: block;
    animation-name: updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

.reset-btn:hover {
    box-shadow: 0px 0px 15px rgb(114, 114, 114);
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}